{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1>Reviews</h1>
            <hr class="w-60 mb-1">
        </div>
    </div>

    <!-- Sorting options -->
    <div class="row">
        <div class="col-12 mt-4">
            <form method="get" action="{% url 'review_list' %}">
                <select name="sort" onchange="this.form.submit()">
                    <option value="">Sort by:</option>
                    <option value="date" {% if current_sort == 'date' %}selected{% endif %}>Latest</option>
                    <option value="product" {% if current_sort == 'product' %}selected{% endif %}>Product name</option>
                </select>
            </form>
        </div>
    </div>

    <!-- Display reviews in a grid -->
    <div class="row mt-4">
        {% for review in reviews %}
        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ review.user }} wrote:</h5>
                    <h6 class="card-subtitle mt-2 mb-3 text-muted">
                        {% if review.product %}
                            Product: {{ review.product.name }}
                        {% else %}
                            General Review
                        {% endif %}
                    </h6>
                    <p class="card-text">{{ review.comment }}</p>
                    <small>Posted on: {{ review.created_at }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="row">
        <div class="col-12 justify-content-center text-center mt-4">
            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            <div class="pagination justify-content-center ">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}" class="btn btn-secondary"><span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>Previous</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}" class="btn btn-secondary">Next<span class="icon">
                        <i class="fas fa-chevron-right"></i></span></a>
                {% endif %}
            </div>
        </div>
    </div>  

    <!-- New review button -->
    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-12 text-center">
            <a href="{% url 'add_review' %}" class="btn p-3">Add a new review</a>
        </div>
    </div>
</div>

<!-- New review modal -->
<div class="modal fade" id="newReviewModal" tabindex="-1" aria-labelledby="newReviewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newReviewModalLabel">Add a New Review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ review_form | crispy }}
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
                {% else %}
                <p>Please <a href="{% url 'account_login' %}">log in</a> to write a review.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if not reviews %}
<p class="text-center mt-4">No reviews available.</p>
{% endif %}
{% endblock %}