{% extends "account/base_entrance.html" %}
{% load account %}
{% load allauth %}
{% load crispy_forms_tags %}
{ % load messages % }
{% load i18n %}
{% load allauth account %}
{% load account socialaccount %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1>Sign in</h1>
            <hr class="w-60 mb-1">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            {% if can_confirm %}
            {% element p %}
            {% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                href="mailto:{{ email }}">{{ email }}</a> is an email address for user
            {{ user_display }}.{% endblocktrans %}
            {% endelement %}
            {% url 'account_confirm_email' confirmation.key as action_url %}
            {% element form method="post" action=action_url %}
            {% slot actions %}
            {% csrf_token %}
            {{ redirect_field }}
            <button class=" btn primaryAction" type="submit">{% trans 'Confirm' %}</button>
            {% trans 'Confirm' %}
            {% endslot %}
            {% endelement %}
            {% else %}
            {% element p %}
            {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different
            account.{% endblocktrans %}
            {% endelement %}
            {% endif %}
            {% else %}
            {% url 'account_email' as email_url %}
            {% element p %}
            {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a
                new email confirmation request</a>.{% endblocktrans %}
            {% endelement %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}