{% extends "account/base_entrance.html" %}
{% load crispy_forms_tags %}
{ % load messages % }
{% load i18n %}
{% load allauth account %}
{% load account socialaccount %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2 class="logo-font mb-4">Sign in</h2>
            <hr class="w-60 mb-1">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6"> {% get_providers as socialaccount_providers %} {% if socialaccount_providers %}
            <p>Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:</p>

            <div class="socialaccount_ballot">

                <ul class="socialaccount_providers">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>

                <div class="login-or">{% trans 'or' %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            <p>If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.</p>
            {% endif %}

            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class=" btn primaryAction" type="submit">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div> 
</div>           
{% endblock %}