{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2 class="logo-font mb-4">Change password</h2>
            <hr class="w-60 mb-1">
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-md-6">
            {% url 'account_change_password' as action_url %}
            {% element form form=form method="post" action=action_url %}
            {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
            {% endslot %}
            {% slot actions %}
            {% element button type="submit" %}
            {% trans "Change Password" %}
            {% endelement %}
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endslot %}
            {% endelement %}
        </div>
    </div>
</div>
{% endblock %}