{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1>About Vintage Corner</h1>
            <hr class="w-60 mb-1">
        </div>
    </div>
    <div class="row mx-4">
        <div class="col-12 col-md-6 mt-4">
            <p>Welcome to <strong>Vintage Corner</strong>, Europe’s leading marketplace for unique design objects and
                the stories behind them.
                Rooted in the ethos that beautiful design can also be sustainable, our team scours the globe for a
                curated selection of vintage and contemporary furniture, lighting, accessories, and crafts, and delivers
                them straight to your doorstep.</p>
            <p>Our product catalog is carefully curated by our specialized Supply team and the international array of
                high profile and underground galleries, shops, editors, artisans, and designers that they get on board.
                We’re passionate about pieces that tell a story — because we believe the
                world’s best design is always more than merely functional; it’s created by visionary minds and skilled
                hands, and then handpicked by us to create one-of-a-kind spaces.</p>
            <p>Our passion for extraordinary design has grown out of years of experience—and we aim to share this
                passion with you. Our Merchandising team carefully looks at the places and things that shape today’s
                design conversation and bring you exciting collections every month.</p>
            <p>Our experienced Customer Care team works hard to make your experience with us as convenient as possible,
                and you can rest assured that every purchased piece is in safe hands. By partnering with specialized and
                standard international shippers, our Logistics team ensures that
                purchases are handled with the utmost care and attention, and that every shipment is completely insured
                against damage.</p>
        </div>
        <div class="col-12 col-md-6 mt-4">
            <ul>
                <li>Shipping info</li>
                <li>Terms & Conditions</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}