{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1>About Vintage Corner</h1>
            <hr class="w-60 mb-1">
        </div>
    </div>
    <!--About section-->
    <div class="row mx-4">
        <div class="col-12 col-md-6 mt-4">
            <p>Welcome to <strong>Vintage Corner</strong>, Europe’s leading marketplace for unique design objects and
                the stories behind them.
                Rooted in the ethos that beautiful design can also be sustainable, our team scours the globe for a
                curated selection of vintage and contemporary furniture, lighting, accessories, and much more - and delivers
                them straight to your doorstep.</p>
            <p>Our product catalog is carefully curated and we’re passionate about pieces that tell a story — because we believe the
                world’s best design is always more than merely functional.</p>
            <p>Our experienced Customer Care team works hard to make your experience with us as convenient as possible,
                and you can rest assured that every purchased piece is in safe hands. By partnering with specialized and
                standard international shippers, our Logistics team ensures that purchases are handled with the utmost care 
                and attention, and that every shipment is completely insured
                against damage.</p>
        </div>
        <div class="col-12 col-md-6 mt-4 mb-5">
            <img src="{% static 'images/two_suitcases.png' %}" alt="two vintage suitcases" class="img-fluid mb-4">
            <div class="col-12 pl-0">
                <a href="{% url 'shipping' %}" alt="terms_and_conditions">
                    <h5>Shipping information</h5>
                </a>
                <a href="{% url 'terms_conditions' %}" alt="terms_and_conditions">
                    <h5>Terms & Conditions</h5>
                </a>
                <a href="{% url 'privacy_policy' %}" alt="privacy_policy">
                    <h5>Privacy Policy</h5>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}