{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid callout-container">
    <div class="row">
        <div class="col-md-6">
            <section class="callout">
                <h2 class="jumbotron-header display-4 my-auto mx-md-3">Handpicked and unique vintage products for your home.</h2>
                <button class="btn btn-lg btn-jumbotron text-center" data-toggle="modal" data-target="#">Shop now!</button>
            </section>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-wrapper-content">
    <div class="container h-100">
        <div class="row text-center">
            <div class="col-12 p-3">
                <h2>Products</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}