{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr>
                <p class="text-black">Below you will find your order information. A confirmation email will be sent to <strong>{{ order.email }}</strong> containing all your order information.</p>
            </div>
        </div>
    </div>
{% endblock %}