/* Containers */
.container-wrapper-header {
    background-color: #659985;
    color: white;
}

.container-wrapper-content {
    background-color: #ca8d6a;
}

.container-wrapper-footer {
    background-color: #659985;
    color: white;
}

.callout-container {
    height: 80vh;
    width: 100vw;
    background: url('/static/images/callout_image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}

/* Links */
.nav-link, .main-logo-link {
    text-decoration: none;
}

.nav-link:visited, .main-logo-link:visited {
    text-decoration: none;
    color: white;
}

.jumbotron-header {
    margin: auto;
    color: white;

}

.btn-jumbotron {
    color: white;
}