/* General styling */
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #cab2a4;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* Containers */
.header-container {
    background-color: #659985;
    color: white;
    margin: 0 0 20px 0;
}

.header-wrapper-container {
    margin-top: 10em;
}

.callout-container {
    height: 80vh;
    width: 100vw;
    background: url('/static/images/callout_image.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
}

/* Footer */
.footer-container {
    background-color: #659985;
    color: white;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

/* Links */
a, .nav-link, .main-logo-link {
    text-decoration: none;
}

a, .nav-link:visited, .main-logo-link:visited {
    text-decoration: none;
    color: white;
}

/* Buttons */
.btn-jumbotron {
    color: white;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

/* Text */
.text-black {
    color: #000 !important;
}

/* Callout */
.jumbotron-header {
    margin: auto;
    color: white;

}

/* Navigation menu */
.dropdown-menu {
    background-color: #659985;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media (max-width: 1106px) {
    .header-wrapper-container {
        margin-top: 14em;
    }
}
