/* Containers */
.container-wrapper-header {
    background-color: #659985;
    color: white;
}

.container-wrapper-content {
    background-color: #ca8d6a;
}

.container-wrapper-footer {
    background-color: #659985;
    color: white;
}

/* Links */
.main-logo-link {
    text-decoration: none;
}

.main-logo-link:visited {
    text-decoration: none;
    color: white;
}