{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h1>Shopping Cart</h1>
            <hr class="w-60 mb-1">
        </div>
    </div>
    <!--Items in cart-->
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 mt-4 mb-4">
            {% if cart_items %}
                {% for item in cart_items %}
                <div class="d-flex flex-row flex-wrap align-items-start mb-3">
                    <div class="col-4 col-md-3 mt-3">
                        <img class="img-fluid rounded w-100 cart-item-image" src="{{ item.product.image.url }}">
                    </div>
                    <div class="py-3 flex-fill">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                    </div>
                    <div class="py-3 text-md-center flex-shrink-0 mr-4">
                        <p class="my-0">${{ item.product.price }}</p>
                    </div>
                    <div class="py-3 d-flex justify-content-end">
                        <button class="btn btn-sm remove-item" data-item-id="{{ item.item_id }}">
                            <i class="fas fa-trash"></i> Remove
                        </button>
                    </div>
                </div>
                {% endfor %}
                <!--Bag total-->
                <div class="d-flex flex-column align-items-end mt-3">
                    <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                    <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                    <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                </div>
                <!--Buttons-->
                <div class="text-right mt-3">
                    <a href="{% url 'products' %}" class="btn btn-md-lg mt-3">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn btn-md-lg mt-3">
                        <span>Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            {% else %}
            <!--Empty bag-->
                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <p class="lead mb-5">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span>Keep Shopping</span>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>      
{% endblock %}

{% block postloadjs %}
<script type="text/javascript">
$(document).ready(function() {
    // Remove item and reload page on click
    $('.remove-item').click(function(e) {
        e.preventDefault();
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).data('item-id');
        var url = `/shopping_cart/remove_from_cart/${itemId}/`;

        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': csrfToken,
            },
            success: function() {
                location.reload();
            },
            error: function() {
                alert('Error removing item. Please try again.');
            }
        });
    });
});
</script>
{% endblock %}