{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row products-header">
        <div class="col-12 text-center mt-8">
            <h2>Products</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-3">
            <form method="GET" action="{% url 'products' %}">
                <label for="sort">Sort by:</label>
                <select name="sort" id="sort" onchange="this.form.submit()">
                    <option value="">Select</option>
                    <option value="price" {% if current_sort == 'price' %}selected{% endif %}>Price</option>
                    <option value="name" {% if current_sort == 'name' %}selected{% endif %}>Name</option>
                </select>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="product-container col-12 col-md-10">
            <div class="row mt-1 mb-2">
                {% for product in products %}
                <div class="col-sm-12 col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
                    <div class="card h-100 border-0">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{% static 'images/noimage.png' %}"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0 text-center">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <p class="lead mb-0 font-weight-bold">${{ product.price }}</p>
                            {% if product.category %}
                            <p class="small mt-1 mb-0">
                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}